// 重置样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scrollbar-width: none; // 完全隐藏
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.c_1230 {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.c_1300 {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 1300px) {
  .c_padding {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
  }
}

@media screen and (max-width: 1024px) {
  .m_mt_0 {
    margin-top: 0;
  }

  .m_padding {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
  }

  .m_flex_col_r {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .m_flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-nav {
    height: 70px !important;
  }

  .footer-box {
    flex-direction: column;
  }
  
  .logo-image {
    width: 140px;
    height: 24px;
  }

  // 隐藏桌面端导航链接
  .nav-links {
    display: none;
  }

  // 隐藏桌面端按钮
  .contact-button,
  .icon-button {
    display: none;
  }

  // 移动端 box 添加底部边框
  .white .box,
  .opacity .box {
    border-bottom: 1px solid #e5e5e5;
  }

  .formImage {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --rem-base: calc(100vw / 380px * 10px);
    font-size: var(--rem-base);
  }

  .mobile-drawer .product-list {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}